
<span *ngFor="let part of parseTweet()">

<span *ngIf="part.type === undefined;else special_word_types">
    {{part.value}}
</span>

<ng-template #special_word_types>
	<span *ngIf="part.type === 'hashtag';else mention_word_type">
		<a [routerLink]="['/hashtags', part.value.slice(1, part.value.length)]">{{part.value}}</a>
	</span>
	<ng-template #mention_word_type>
		<a [routerLink]="['/mentions', part.value.slice(1, part.value.length)]">{{part.value}}</a>
	</ng-template>
</ng-template>
</span>


