
<span *ngFor="let part of parseTweet()">

<span *ngIf="part.type === undefined;else special_word_types">
    {{part.value}}
</span>

<ng-template #special_word_types>
	<span *ngIf="part.type === 'hashtag';else mention_word_type">
		<a [routerLink]="['/hashtags', stripHashtag(part.value)]">{{part.value}}</a>
	</span>
	<ng-template #mention_word_type>
		<a [routerLink]="['/mentions', stripColon(part.value)]">{{stripColon(part.value)}}</a>{{trailingColon(part.value)}}
	</ng-template>
</ng-template>
</span>


